@import "../../assets/scss/utils.scss";
.Header {
    display: flex;
    align-items: center;

    &__logo {
        font-family: "Italiana";
        font-size: 1.4rem;
        font-weight: 900;
        cursor: pointer;
    }

    .TopNav {
        flex: 1;
    }

    .HeaderActions {
    }
}
